.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  border-radius: 10px;
  height: 100%;
  cursor: pointer;
  position: relative;

  .card__side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  .card__side {
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;

    &--back {
      transform: rotateY(180deg);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: rgb(50, 61, 61);
      border-radius: 10px;
      font-size: 2em;
    }

    &--front {
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: rgb(50, 61, 61);
      border-radius: 10px;
      &:hover {
        background-color: rgb(88, 97, 97);
        transition: background-color 0.3s ease;
      }
    }
  }

  &.is-flipped .card__side--front {
    transform: rotateY(180deg);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.is-flipped .card__side--back {
    transform: rotateY(0);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.deleted-card {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition properties */
  /* Add any other styles to visually indicate that the card is "deleted" or not interactable */
}
