@use "./card";

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: url("./images/color\ background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  align-self: center;
  height: 75vh;
  width: 65vw;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .stats {
    display: flex;
    gap: 30px;
  }
}

.game-loss {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
  height: 100%;
}

.game-win {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
  height: 100%;
}
